<section class="blog-section">
  <div class="container">
    <div id="blog"></div>
    <div class="headline-blog">
      <div class="badge margin-bottom-30">
        <div class="badge-text"><span class="shape-label"></span>My Blogs</div>
      </div>
    </div>
    <div class="blog-list">
      {{ range (where site.RegularPages "Section" "blog").ByDate.Reverse }}
        <a href="{{ .RelPermalink }}" class="blog-list-item">
          <span class="blog-list-title">{{ .Title }}</span>
          <span class="blog-list-date">{{ .Date.Format "Jan 2006" }}</span>
        </a>
      {{ end }}
    </div>
  </div>
</section>
