<section id="home" class="hero-section">
  <div class="wrapper background-purple border-bottom overflow-hidden">
    <div class="container">
      <div class="hero-grid">
        <div class="hero-image-wrapper position-relative">
          <img src="/images/hero.png" loading="lazy" alt="{{ site.Params.author }}" width="327" class="hero-image">
          <div class="star-badge">
            <div class="label cc-rotate">Let's create amazing experiences</div>
          </div>
          <img src="/images/doodles/doodle-shine.svg" loading="lazy" alt="" class="doodle-shine">
          <img src="/images/doodles/doodle-breeze.svg" loading="lazy" alt="" class="doodle-breeze">
        </div>
        <div class="hero-content">
          <div class="badge margin-bottom-30">
            <div class="badge-text"><span class="shape-label"></span>Heeyyy!</div>
          </div>
          <h1 class="display-1 margin-bottom-15">I'm Valentina Sevilla, <span class="underline">product</span> designer.</h1>
          <div class="paragraph-large margin-bottom-45">I'm passionate about creating experiences that truly resonate with people.</div>
          <a href="#portfolio" class="btn-3d">
            <div class="btn-front">
              <div>See My Works</div>
              <div>↓</div>
            </div>
            <div class="btn-edge"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
