.portfolio-section {
  position: relative;
}

.headline-portfolio {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px;
}

.portfolio-grid {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include respond-to(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 90px;
  }
}

.portfolio-item {
  .image-frame {
    display: block;
    width: 100%;
    border: $border;
    border-radius: $radius;
    margin-bottom: 40px;
    transition: opacity $transition-fast;

    &:hover {
      opacity: 0.9;
    }
  }

  .post-title {
    font-family: $font-heading;
    font-size: $font-size-xl;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    line-height: 1.6;
  }
}

// Doodles
.portfolio-section .doodle-scribble {
  top: 5%;
  right: 8%;
}

.portfolio-section .doodle-shine-pink {
  top: 3%;
  right: 3%;
}

.portfolio-section .doodle-clink {
  bottom: 5%;
  left: 5%;
}
