.portfolio-section {
  position: relative;
  font-size: 18px;

  .container {
    max-width: 1350px;
    padding: 0 50px;
  }

  .wrapper {
    padding-bottom: 130px;
  }
}

.headline-portfolio {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 55px;
}

.portfolio-grid {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include respond-to(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 90px;
  }
}

.portfolio-item {
  .image-link {
    display: inline-block;
    margin-bottom: 40px;
  }

  .image-frame {
    display: block;
    width: 100%;
    border: $border;
    border-radius: $radius;
    transition: opacity $transition-fast;

    &:hover {
      opacity: 0.9;
    }
  }

  .post-title {
    font-family: $font-heading;
    font-size: $font-size-xl;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
  }

  p {
    margin-bottom: 20px;
    line-height: 1.33;
  }
}

// Doodles
.portfolio-section .doodle-scribble {
  position: absolute;
  top: 45px;
  left: -40px;
}

.portfolio-section .doodle-shine-pink {
  position: absolute;
  top: 30px;
  right: 30px;
}

.portfolio-section .doodle-clink {
  bottom: 5%;
  left: 5%;
}
