.services-section {
  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: $border;
  }
}

.services {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;

  @include respond-to(md) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

.headline-services {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 55px;
}

.services-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;

  @include respond-to(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

.card {
  border: $border;
  border-radius: $radius;
  padding: 40px;
  text-align: left;

  &.background-purple { background-color: $purple; }
  &.background-green { background-color: $green; }
  &.background-red { background-color: $red; }
  &.background-pink { background-color: $pink; }
  &.background-blue { background-color: $blue; }
  &.background-orange { background-color: $orange; }
}

.service {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.service .icon {
  flex-shrink: 0;
  width: 74px;
  height: 74px;
  border: $border;
  border-radius: 50%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 34px;
    height: 34px;
  }
}

.service h3 {
  font-size: $font-size-xl;
  margin-bottom: 10px;
  line-height: 1.4;
}

.service div:not(.icon) > div {
  font-size: $font-size-lg;
  line-height: 1.7;
}
